/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  padding-top: 10px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  display: flex;
  justify-content: center;
}
#menu{
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 60%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}
.input-container{
  display: flex;
}
.label-input{
  width: 35%;
  padding-left: 9px;
  font-weight: lighter;
}
/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media (width > 480px){
  header{
    display: flex;
  }
  .logo{
    width: 80%;
    justify-content: start;
  }
  form{
    display: flex;
    justify-content: space-evenly;
  }
  .label-input{
    padding-left: 0px;
  }
  .input-container{
    flex-direction: column;
    width: 22%;
  }
  
  #about{
    display: flex;
    flex-direction: column;
  }
  .about-content{
    display: flex;
    align-items: center;
  }
  .about-content p{
    margin-left: 26px;
    
  }
  main img{
    width: 25%;
    padding-left: 6px;
  }
  .img-container img{
    width: 96%;
    padding-left:0px;
    max-height: 109vh;
  }
  #ideas{
    display: flex;
    flex-direction: column;
  }
  .img-grid{
    color: black;
    display: flex;
  }

  .host-section{
    display: flex;
  }
  .host-text{
    width: 100%;
  }
  .host-img{
    width: 100%;
  }
  .host-img img{
    width: 100%;
  }
}/* end of query */
  